.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex; /* 포지션과 디스프레이 의미 공부필요 */
  justify-content: center;
  align-items: center;
  color: white;
}
