.nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav_list {
  display: flex;
  justify-content: space-between;
}

.nav_link {
  position: relative; /* 자식을 absolute 하고 싶어서      */
  color: gray;
}

.nav_notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute; /* span 숫자가 코멘트 픽토 위에 위치 -> 바로 윗 부모 relative     */
  left: 15px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav_notification-sm {
  color: transparent;
  background-color: tomato;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: flex;
  position: absolute;
  right: -10px;
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav_btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

.nav_btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav_btn:nth-child(3) {
  animation-delay: 0.5s;
}
.nav_btn:last-child {
  animation-delay: 0.8s;
}

/* 튀어 나오는거 안됨> */
